<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== GRIPPER (prismatic simplification) ==================== -->

  <!-- Gears, fixed visual elements -->
  <link name="gear_left_link">
    <inertial>
      <origin xyz="0.003525 0.007478 0.005017" rpy="0.0 0.0 0.0"/>
      <mass value="0.018832"/>
      <inertia ixx="1.988236e-06" iyy="3.502159e-06" izz="1.586593e-06" ixy="2.627571e-08" iyz="2.803909e-08" ixz="-1.137093e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.009984 -0.005378 -0.337479" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/gear_left.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="-0.009984 -0.005378 -0.337479" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/gear_left_collision.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="gear_left_to_limb5_joint" type="fixed">
    <origin xyz="0.007370 -0.030327 0.012018" rpy="1.574885 -1.134295 -0.003907"/>
    <parent link="limb5_link"/>
    <child link="gear_left_link"/>
  </joint>

  <link name="gear_right_link">
    <inertial>
      <origin xyz="-0.003527 0.001779 0.005405" rpy="0.0 0.0 0.0"/>
      <mass value="0.017925"/>
      <inertia ixx="2.161682e-06" iyy="3.500032e-06" izz="1.794333e-06" ixy="6.190968e-08" iyz="-3.424248e-08" ixz="1.134985e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.017981 -0.010820 -0.337531" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/gear_right.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="0.017981 -0.010820 -0.337531" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/gear_right_collision.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="gear_right_to_limb5_joint" type="fixed">
    <origin xyz="-0.009384 -0.030336 -0.011024" rpy="1.574885 -1.134295 -0.003907"/>
    <parent link="limb5_link"/>
    <child link="gear_right_link"/>
  </joint>

  <!-- Left finger, ACTIVE prismatic -->
  <link name="gripper_left_link">
    <inertial>
      <origin xyz="-0.007413 -0.006037 0.028054" rpy="0.0 0.0 0.0"/>
      <mass value="0.030837"/>
      <inertia ixx="1.070256e-05" iyy="1.120889e-05" izz="7.420144e-07" ixy="2.927785e-08" iyz="-1.153532e-07" ixz="1.921105e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.027993 -0.014265 -0.360257" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/gripper_left.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="-0.027993 -0.014265 -0.360257" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/gripper_left_collision.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="gripper_left_joint" type="prismatic">
    <origin xyz="0.006925 -0.053140 0.032056" rpy="1.574885 -1.134295 -0.003907"/>
    <parent link="limb5_link"/>
    <child link="gripper_left_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-0.015" upper="0.015" effort="10" velocity="0.1"/>
  </joint>

  <!-- Right finger, mimic left -->
  <link name="gripper_right_link">
    <inertial>
      <origin xyz="0.007435 -0.006142 0.028025" rpy="0.0 0.0 0.0"/>
      <mass value="0.030835"/>
      <inertia ixx="1.068694e-05" iyy="1.120908e-05" izz="7.564734e-07" ixy="-2.298441e-08" iyz="-9.006570e-08" ixz="-1.959376e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.035819 -0.014687 -0.360376" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/gripper_right.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="0.035819 -0.014687 -0.360376" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/gripper_right_collision.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="gripper_right_joint" type="prismatic">
    <origin xyz="-0.020434 -0.053154 -0.025594" rpy="1.574885 -1.134295 -0.003907"/>
    <parent link="limb5_link"/>
    <child link="gripper_right_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-0.015" upper="0.015" effort="10" velocity="0.1"/>
    <mimic joint="gripper_left_joint" multiplier="-1" offset="0"/>
  </joint>

  <!-- Support bars, fixed to their respective fingers -->
  <link name="support_left_link">
    <inertial>
      <origin xyz="-0.009521 -0.006712 -0.012029" rpy="0.0 0.0 0.0"/>
      <mass value="0.008892"/>
      <inertia ixx="1.072351e-06" iyy="1.366432e-06" izz="7.611217e-07" ixy="1.208086e-08" iyz="1.705586e-08" ixz="-6.466252e-07"/>
    </inertial>
    <visual>
      <origin xyz="-0.019025 -0.014329 -0.379249" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/support_left.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="-0.019025 -0.014329 -0.379249" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/support_left_collision.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="support_left_joint" type="fixed">
    <origin xyz="-0.008968 0.000064 0.018992" rpy="0.0 0.0 0.0"/>
    <parent link="gripper_left_link"/>
    <child link="support_left_link"/>
  </joint>

  <link name="support_right_link">
    <inertial>
      <origin xyz="0.009388 -0.006835 -0.012065" rpy="0.0 0.0 0.0"/>
      <mass value="0.008892"/>
      <inertia ixx="1.076887e-06" iyy="1.366664e-06" izz="7.562841e-07" ixy="-8.241173e-09" iyz="8.709403e-09" ixz="6.455995e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.026783 -0.014626 -0.379334" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/support_right.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="0.026783 -0.014626 -0.379334" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/support_right_collision.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="support_right_joint" type="fixed">
    <origin xyz="0.009036 -0.000061 0.018957" rpy="0.0 0.0 0.0"/>
    <parent link="gripper_right_link"/>
    <child link="support_right_link"/>
  </joint>

</robot>
