<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="camera_mount_xyz" value="0.0208 -0.025 0.0255"/>
  <xacro:property name="camera_mount_rpy" value="${pi/2} 0.0 0.0"/>

  <link name="camera_support_link">
    <inertial>
      <origin xyz="0.0 0.0 0.013" rpy="0.0 0.0 0.0"/>
      <mass value="0.060"/>
      <inertia ixx="1.419e-05" iyy="4.946e-05" izz="5.689e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/camera_support.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="PrintedBlack"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.013" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.096 0.0465 0.026"/>
      </geometry>
    </collision>
  </link>

  <joint name="camera_support_to_limb4_joint" type="fixed">
    <origin xyz="${camera_mount_xyz}" rpy="${camera_mount_rpy}"/>
    <parent link="limb4_link"/>
    <child link="camera_support_link"/>
  </joint>

  <link name="camera_cover_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0025" rpy="0.0 0.0 0.0"/>
      <mass value="0.012"/>
      <inertia ixx="2.187e-06" iyy="9.241e-06" izz="1.138e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hiwonder_xarm_esp32_description/meshes/camera_cover.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="PrintedBlack"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0025" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.096 0.0465 0.005"/>
      </geometry>
    </collision>
  </link>

  <joint name="camera_cover_to_camera_support_joint" type="fixed">
    <origin xyz="0.0 0.0 0.026" rpy="0.0 0.0 0.0"/>
    <parent link="camera_support_link"/>
    <child link="camera_cover_link"/>
  </joint>

  <link name="camera_link"/>

  <joint name="camera_link_to_camera_support_joint" type="fixed">
    <origin xyz="0.0 0.0 0.031" rpy="0.0 0.0 0.0"/>
    <parent link="camera_support_link"/>
    <child link="camera_link"/>
  </joint>

  <xacro:macro name="camera_lens" params="side x_pos">
    <link name="camera_${side}_lens_link">
      <visual>
        <origin xyz="-0.004 0.0 0.0" rpy="0.0 ${pi/2} 0.0"/>
        <geometry>
          <cylinder radius="0.007" length="0.008"/>
        </geometry>
        <material name="PrintedBlack"/>
      </visual>
    </link>

    <joint name="camera_${side}_lens_to_camera_support_joint" type="fixed">
      <origin xyz="${x_pos} 0.0 0.032" rpy="0.0 ${-pi/2} ${-pi/2}"/>
      <parent link="camera_support_link"/>
      <child link="camera_${side}_lens_link"/>
    </joint>

    <link name="camera_${side}_optical_frame"/>
    <joint name="camera_${side}_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}"/>
      <parent link="camera_${side}_lens_link"/>
      <child link="camera_${side}_optical_frame"/>
    </joint>

    <gazebo reference="camera_${side}_lens_link">
      <sensor name="${side}_camera" type="camera">
        <update_rate>60.0</update_rate>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>${side}_camera/image_raw</topic>
        <camera>
          <horizontal_fov>1.344</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>10.0</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:camera_lens side="left" x_pos="0.03025"/>
  <xacro:camera_lens side="right" x_pos="-0.03025"/>

</robot>
